.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif; 
  
  }
  
  img {
    border-radius: 50%;
    margin-bottom: 10px;
  }